---
apiVersion: v1
kind: Namespace
metadata:
  name: petclinic

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: petclinic-sa
  namespace: petclinic
  annotations:
    azure.workload.identity/client-id: "f6a8b12f-ad06-46dc-a63b-7ed5ff14dfdd"

---
apiVersion: v1
kind: Service
metadata:
  name: petclinic
  namespace: petclinic
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: petclinic

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  namespace: petclinic
  labels:
    app: petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: sc-account-f6a8b12f-ad06-46dc-a63b-7ed5ff14dfdd
      containers:
        - name: petclinic
          image: acrpetclinic14dbb6.azurecr.io/petclinic:latest
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: postgres  
            - name: POSTGRES_URL
              value: "jdbc:postgresql://db-petclinic14db.postgres.database.azure.com:5432/petclinic?sslmode=require&authenticationPluginClassName=com.azure.identity.extensions.jdbc.postgresql.AzurePostgresqlAuthenticationPlugin"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: sc-postgresflexible7t1lv-secret
                  key: AZURE_POSTGRESQL_USERNAME
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: sc-postgresflexible7t1lv-secret
                  key: AZURE_POSTGRESQL_CLIENTID
            - name: AZURE_FEDERATED_TOKEN_FILE
              value: "/var/run/secrets/azure/tokens/azure-identity-token"
            - name: AZURE_AUTHORITY_HOST
              value: "https://login.microsoftonline.com/"
            - name: AZURE_TENANT_ID
              value: "6f070e41-8d1e-45c9-af17-551c9b98860d"
          ports:
            - name: http
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
